.sliderOverride .slick-dots li button:before {
  font-size: 0.75rem;
  color: var(--bg-color);
}

.sliderOverride .slick-dots li.slick-active button:before {
  color: var(--font-color);
}

.sliderOverride .slick-dots {
  bottom: -10px;
  background-color: var(--bg-color);
}
